
@{
    ViewBag.Title = "ComoChegar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br /><br />

<div class="container-fluid">
    <div class="row">
        <div class="offset-3 col-6 offset-3">
            <h2 class="pt-2 pb-2 text-center" style="background-color: #343a40 !important; color: white;"><b>ONDE ESTAMOS?</b></h2>
            <br /><br />
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3311.5383486260744!2d-118.38613708544905!3d33.90154153310534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2b40f9bc24069%3A0x82e29b95fcc5cd73!2sMarvel%20Studios%20LLC!5e0!3m2!1spt-BR!2sbr!4v1569985310279!5m2!1spt-BR!2sbr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>
</div>
<br /><br /><br /><br />

