
@{
    ViewBag.Title = "QmSomos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1 style="position: absolute; color: white; font-weight: bold; top: 60%; left: 38%;">QUEM SOMOS?</h1>
    <h1 style="position: absolute; color: white; font-weight: bold; top: 70%; left: 20%;">DESCUBRA SOBRE A EQUIPE MARVEL</h1>
    <img class="img-fluid" src="~/img/banner.png" />
</div>

<br /><br /><br /><br />

<div class="container-fluid">
    <div class="row">
        <div class="offset-3 col-7 offset-2">
            <h2 class="h2"><u>Sobre a Empresa</u></h2>
            <br /><br />
            <p class="text-justify">
                A Marvel Entertainment, LLC, uma subsidiária da The Walt Disney Company, é uma das empresas de entretenimento baseadas em personagens mais proeminentes do mundo, construída em uma biblioteca comprovada de mais de 8.000 caracteres apresentados em uma variedade de mídias durante setenta e cinco anos . A Marvel utiliza suas franquias de personagens em entretenimento, licenciamento e publicação. Para mais informações, visite marvel.com. © 2018 MARVEL
            </p>
        </div>
    </div>
</div>
<br /><br /><br /><br />
