@font-face {
    font-family: 'ITC Avant Garde Gothic Std Demi';
    src: url("../fonts/ITCAvantGardeStd-Demi.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Regular.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'League Spartan';
    src: url("../fonts/LeagueSpartan-Bold.woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fjalla One';
    src: url("../fonts/FjallaOne-Regular.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans.woff");
    font-weight: normal;
    font-style: normal;
}